.flag{
    // width: 211px;
    height: 100px;
}
.card-box {
    // height: 300px;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.footer {
    cursor: pointer;
}