.flag-img{
    height: 220px;
}
.currency-item{
    font-weight: bold;
}
.details-tab{
    margin-left: 0px;
}
td{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.heart{
    float: right;
    font-size: 35px;
    cursor: pointer;
}
.back-arrow{
    float: left;
    font-size: 35px;
    cursor: pointer;
}
.body-country{
    padding-left: 10%;
    padding-top: 5%;
}